#This config file stores the default vaules for ThermalDex. These vaules can be changed from within the ThermalDex GUI, only edit this file if you know what you're doing!!!

[defaultDB]
#Set default database to be used with ThermalDex.
.\\_core\\thermalDB.csv

[highEnergyGroups]
#Set the default list of high energy groups to be counted by ThermalDex.
.\\_core\\HighEnergyGroups.csv

[expEnergyGroups]
#Set the default list of high energy groups to be counted by ThermalDex.
.\\_core\\ExplosiveGroups.csv